dependencies/*
*.pyc
.project
.pydevproject
compmake.egg-info
compmake_storage
compmake_update_others.sh
compmake/jobs/syntax/test1_db/
test1_db
Simple_db
.DS_Store
gpg
dist
git-changelog
build
.compmake_history.txt
priorities
unpickable
.noseids
my-storage-dir
default-compmake-storage
.coverage
coverage_information
out-example_dynamic_explicitcontext
docs/source/my_static/example1/out-using_compmake3/
docs/source/my_static/example1/out-using_compmake2/
docs/source/my_static/example1/out-using_compmake1/
docs/out-example/
docs/source/my_static/example1/gvgen/
out-*
compmake-graph*
