-e git+https://github.com/AndreaCensi/contracts.git@env_fault#egg=PyContracts
-e git+https://github.com/AndreaCensi/system_cmd.git@env_fault#egg=SystemCmd
termcolor
setproctitle
PyYaml
psutil
decorator