version: 2
workflows:
  version: 2
  test:
    jobs:
      - test-3.7
      - test-2.7
jobs:
  test-3.7: &test-template
    docker:
      - image: circleci/python:3.7-jessie
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Install deps
          command: |
            pip install --user --upgrade -r requirements.txt
            python setup.py develop --prefix ~/.local --no-deps

      - run:
          name: Run tests
          command: |
            pip install --user nose
            PATH=~/.local/bin:$PATH ~/.local/bin/nosetests compmake

#  test-3.5:
#    <<: *test-template
#    docker:
#      - image: circleci/python:3.5-jessie
  test-2.7:
    <<: *test-template
    docker:
      - image: circleci/python:2.7-jessie
